absl-py==0.1.13
appnope==0.1.0
astor==0.6.2
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==1.5.0
click==6.7
cycler==0.10.0
decorator==4.2.1
enum34==1.1.6
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.10.1
html5lib==0.9999999
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mock==2.0.0
networkx==2.1
numpy==1.14.2
pathlib2==2.3.0
pbr==4.0.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
PyWavelets==0.5.2
scandir==1.7
scikit-image==0.13.1
scipy==1.0.1
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.6
subprocess32==3.2.7
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
