#image-modal-image {
  max-height: 1024px;
  max-width: 100%;
}
.card-body {
  font-size: 0.9rem;
}
.card-feed {
  max-width: 600px;
}
.card-overlay {
  position: absolute;
  height: 5em;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom,
                              rgba(0,0,0,0.50) 0em,
                              rgba(0,0,0,0.40) 1em,
                              rgba(0,0,0,0.05) 3.5em,
                              rgba(0,0,0,0.0) 5em);
  border-radius: 3px;
  opacity: 0.2;
  transition: top 0.5s, opacity 1s;
}
.card-overlay:hover {
  opacity: 1;
}
.card-username {
  position: absolute;
  left: 1em;
  top: 0.2em;
  color: #fff;
  opacity: 0.8;
  transition: top 0.5s, opacity 1s;
}
.card-overlay:hover ~ .card-username, .card-username:hover {
  top: 0.4em;
  opacity: 1;
}
.card-username:hover {
  color: #fff;
}
