<!doctype html>
<html lang="en">

<head>
  <title>
    {% block title %}
      Deep-Paint | Photo Styling
    {% endblock %}
  </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport">

  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        rel="stylesheet">
  <link rel="stylesheet" href="/static/font/css/open-iconic-bootstrap.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cutive|Nunito|Sniglet" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

  {% block head %}
  {% endblock %}
</head>

<body class="bg-light">

<!-- Navbar -------------------------------------------------------------- -->

  <div id="root-navbar"></div>

<!-- Flash messages ------------------------------------------------------- -->

  <div class="container fixed-top mt-6 position-fixed">

    {% for category, msg in get_flashed_messages(with_categories=True) %}
      <div class="row">
        <div class="alert alert-dismissible alert-{{ category }} col-12
                    col-sm-9 col-md-6 col-lg-4 fade my-2 shadow show"
             role="alert">
          {{ msg }}
          <button aria-label="Close" class="close" data-dismiss="alert"
                  type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endfor %}

  </div>

<!-- Login modal ---------------------------------------------------------- -->

  <div id="root-login-modal"></div>

<!-- Upload modal --------------------------------------------------------- -->

  <div id="root-upload-modal"></div>

<!-- Image modal ---------------------------------------------------------- -->

  <div aria-hidden="true" class="modal fade" id="image-modal" role="dialog"
       tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="image-modal-title">&nbsp;</h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="border d-flex mx-auto rounded" id="image-modal-image"
               src="#">
          <div class="justify-content-between">
            <h6 id="image-modal-user">&nbsp;</h6>
            <span id="image-modal-created-at">&nbsp;</span>
          </div>
          <p id="image-modal-description">&nbsp;</p>
        </div>
        <div class="modal-footer">
          <nav class="btn-group">
            <button class="border btn bg-white" data-toggle="tooltip"
                    id="image-modal-like-btn" title="Like" type="button">
              <span class="oi oi-heart"></span>
            </button>
            <button class="border btn bg-white" data-toggle="tooltip"
                    id="image-modal-comment-btn" title="Comment" type="button">
              <span class="oi oi-chat"></span>
            </button>
            <button class="border btn bg-white" data-toggle="tooltip"
                    id="image-modal-tag-btn" title="Tag" type="button">
              <span class="oi oi-tags"></span>
            </button>
            <button class="border btn bg-white" data-toggle="tooltip"
                    id="image-modal-share-btn" title="Share" type="button">
              <span class="oi oi-share-boxed"></span>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>

<!-- Page content --------------------------------------------------------- -->

  <div class="container mt-4">
    {% block content %}
      <h1>Hello, world!</h1>
    {% endblock %}
  </div>

<!-- Javascript ----------------------------------------------------------- -->


  <!-- React (must load before jQuery) -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

  <!-- Babel (load with React, transpile for production) -->
  <script src="http://unpkg.com/babel-standalone"></script>
  <script src="/static/js/scripts.jsx" type="text/jsx"></script>

  <!-- Popper Javascript (required for Bootstrap) -->
  <script crossorigin="anonymous" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

  <!-- jQuery (required for Bootstrap) -->
  <script crossorigin="anonymous"
          src="https://code.jquery.com/jquery-3.3.1.min.js">
  </script>

  <!-- Bootstrap -->
  <script crossorigin="anonymous" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <script type="text/jsx">
    ReactDOM.render(
      <Navbar user_id={ {{- session.get('user_id') -}} } />,
      document.querySelector("#root-navbar")
    );
    ReactDOM.render(
      <LoginModal />,
      document.querySelector("#root-login-modal")
    );
    ReactDOM.render(
      <UploadModal />,
      document.querySelector("#root-upload-modal")
    );
  </script>

  <script type="text/javascript">
    // image modal
    $('.image-detail-target').on('click', function () {
      let image_id = $(this).prop('id');
      $.get('/image.json', {'image_id': image_id}, function (data) {
        console.log(data);
        if (data.path !== undefined) {
          $('#image-modal-image').attr('src', data.path);
          if (data.source !== null) {
            $('#image-modal-title').text(data.source.title);
            $('#image-modal-description').text(data.source.description);
          }
          if (data.style !== null) {
            $('#image-modal-description').html(
              $('#image-modal-description').text() + '<br />Styled as ' +
                data.style.title + ' by ' + data.style.artist
            );
          }
          $('#image-modal').modal('show');
        } else {
          console.log('error: ' + data.message);
        }
      });
    });
  </script>

  {% block script %}
  {% endblock %}

</body>
</html>
