<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="static/font/css/open-iconic-bootstrap.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/css/style.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

  <title>
    {% block title %}
      Deep-Paint | Photo Styling
    {% endblock %}
  </title>
</head>

<body class="bg-light">

<!-- Navbar -------------------------------------------------------------- -->

  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark
              border-dark shadow">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href="/">
        <span class="oi oi-brush">&nbsp;</span>
        Deep-Paint
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggle" aria-controls="navbarToggle"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">&nbsp;</span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="ml-auto order-2">
          {% if 'user_id' in session %}
            <button id="upload-btn" class="btn btn-light mr-2" type="button"
                    data-toggle="modal" data-target="#uploadModal">
              <span class="oi oi-cloud-upload">&nbsp;</span>
              Upload
            </button>
            <a id="logout-btn" class="btn btn-light" style="color: buttontext; background-color: buttonface;" href="/logout">
              <span class="oi oi-account-logout">&nbsp;</span>
              Logout
            </a>
          {% else %}
            <button id="login-btn" class="btn btn-light" type="button"
                    data-toggle="modal" data-target="#loginModal">
              <span class="oi oi-account-login">&nbsp;</span>
              Login
            </button>
          {% endif %}
        </div>

        <ul class="navbar-nav mr-auto order-1">
          {% if 'user_id' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/library">Library</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar-about-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar-about-dropdown">
              <a class="dropdown-item" href="/about">About this project</a>
              <a class="dropdown-item" href="/about#tensorflow">
                How does style-transfer work?
              </a>
              <a class="dropdown-item" href="https://github.com/evinces/deep-paint">
                <small><span class="oi oi-external-link">&nbsp;</span></small>
                View the project GitHub
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Flash messages ------------------------------------------------------- -->

  <div class="container">
    {% for category, msg in get_flashed_messages(with_categories=True) %}
      <div class="row">
        <div class="col-12 col-sm-9 col-md-6 col-lg-4 alert
                    alert-{{ category }} alert-dismissible fade show my-2
                    shadow-sm" role="alert">
          {{ msg }}
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endfor %}
  </div>

<!-- Login modal ---------------------------------------------------------- -->

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
       aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">
            Login
          </h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/login" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="input-email">Email address</label>
              <input id="input-email" class="form-control" type="email"
                     name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="input-password">Password</label>
              <input id="input-password" class="form-control" type="password"
                     name="password" placeholder="Password" required>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary ml-auto" type="submit">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- Upload modal --------------------------------------------------------- -->

  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
       aria-labelledby="uploadModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalTitle">
            Choose an image file to upload
          </h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
            <input class="form-control mb-2" type="text" name="title"
                   placeholder="Title" required>
            <textarea class="form-control mb-2" id="uploadFormDescription"
                      rows="3" name="description"
                      placeholder="Description..."></textarea>
            <div class="custom-file">
              <input type="file" class="form-control custom-file-input"
                     id="uploadImageFile" name="image" required>
              <label id="uploadImageLabel" class="custom-file-label text-truncate" for="uploadImageFile">
                Choose image file
              </label>
            </div>
            <p class="ml-2"><small>
              File types: .gif .jpg .jpeg .png .tif .tga
            </small></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary ml-auto" type="submit">
              <span class="oi oi-cloud-upload">&nbsp;</span>
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- Image modal ---------------------------------------------------------- -->

  <div class="modal fade" id="image-modal" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="image-modal-title">&nbsp;</h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="image-modal-image" class="border rounded d-flex mx-auto" src="#">
          <div class="justify-content-between">
            <h6 id="image-modal-user">&nbsp;</h6>
            <span id="image-modal-created-at">&nbsp;</span>
          </div>
          <p id="image-modal-description">&nbsp;</p>
        </div>
        <div class="modal-footer">
          <nav class="btn-group">
            <button id="image-modal-like-btn" type="button"
                    class="btn border"
                    data-toggle="tooltip" data-placement="bottom"
                    title="Like">
              <span class="oi oi-heart"></span>
            </button>
            <button id="image-modal-comment-btn" type="button"
                    class="btn border"
                    data-toggle="tooltip" data-placement="bottom"
                    title="Comment">
              <span class="oi oi-chat"></span>
            </button>
            <button id="image-modal-tag-btn" type="button"
                    class="btn border"
                    data-toggle="tooltip" data-placement="bottom"
                    title="Tag">
              <span class="oi oi-tags"></span>
            </button>
            <button id="image-modal-share-btn" type="button"
                    class="btn border"
                    data-toggle="tooltip" data-placement="bottom"
                    title="Share">
              <span class="oi oi-share-boxed"></span>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>

<!-- Page content --------------------------------------------------------- -->

  <div class="container mt-4">
    {% block content %}
      <h1>Hello, world!</h1>
    {% endblock %}
  </div>

<!-- Footer --------------------------------------------------------------- -->

<!-- Not sure if I'm going to use this
  <footer class="navbar navbar-expand navbar-dark bottom bg-dark border-dark">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About this project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View this project on Github</a>
        </li>
      </ul>
      <div class="d-flex">
        <p class="text-secondary">by Estrella Vinces, 2018</p>
      </div>
    </div>
  </footer>
-->

<!-- Javascript ----------------------------------------------------------- -->

  <script type="text/javascript">
    // enable bootstrap tooltips
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    // upload form
    $('#uploadImageFile').on('change', function () {
      let filename = $(this.files)[0].name;
      if (filename !== undefined) {
        $('#uploadImageLabel').text(filename);
      } else {
        $('#uploadImageLabel').text("Choose image file");
      }
    });

    // image modal
    $('.card-img-top').on('click', function () {
      let image_id = $(this).prop('id');
      $.get('/image.json', {'image_id': image_id}, function (d) {
        console.log(d);
        if (d.path !== undefined) {
          $('#image-modal-image').attr('src', d.path);
          if (d.source !== null) {
            $('#image-modal-title').text(d.source.title);
            $('#image-modal-description').text(d.source.description);
          }
          if (d.style !== null) {
            $('#image-modal-description').text(
              $('#image-modal-description').text() + '\nStyled as ' +
                d.style.title + ' by ' + d.style.artist
            );
          }
          $('#image-modal').modal('show');
        } else {
          console.log('error: ' + d.message);
        }
      });
    });
  </script>

  <!-- Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>
