{% extends "base.html" %}

{% block content %}

  <section class="row">
    {% for image in images %}
      <article class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-3 mx-auto 
                  library-card">
        <div class="card mx-2 my-4">
          <img class="card-img-top" src="{{ image.get_path() }}">
          <div class="card-body px-3 py-2">

            {% if image.source_image %}
              {% if image.source_image.title %}
                <h5 class="card-title">{{ image.source_image.title }}</h5>
              {% endif %}
              {% if image.source_image.description %}
                <p class="card-text m-o">
                  {{ image.source_image.description }}
                </p>
              {% endif %}
            {% endif %}

            {% with sty_img = image.styled_image %}
              {% if sty_img %}
                <p class="m-0">
                  Styled as
                  <a data-toggle="tooltip" data-placement="bottom" data-html="true"
                     title="<img class='img-thumbnail' src='{{ sty_img.style.image.get_path() }}'>">
                    <strong>{{ sty_img.style.title }}</strong> by <em>{{ sty_img.style.artist }}</em>
                  </a>
                </p>
              {% endif %}
            {% endwith %}

          </div>
          <footer class="container card-footer bg-light py-1 pr-1">
            <div class="row">
              <p class="col text-muted my-auto mr-auto">
                <small>
                  {{ image.created_at.strftime("%b %d, %Y") }}
                </small>
              </p>
              <nav class="col btn-group justify-content-end img-btn-ctrls" role="group">

                {% if image.source_image %}
                  <button id="style-{{ image.image_id }}" type="button" class="btn btn-white border" data-toggle="tooltip" data-placement="bottom" title="Style">
                    <span class="oi oi-brush"></span>
                  </button>
                {% endif %}

                <button id="edit-{{ image.image_id }}" type="button" class="btn btn-white border" data-toggle="tooltip" data-placement="right" title="Edit">
                  <span class="oi oi-wrench"></span>
                </button>
              </nav>
            </div>
          </footer>
        </div>
      </article>
    {% endfor %}
  </section>

  <script type="text/javascript">
    
  </script>

{% endblock %}
