{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-7 col-lg-5">
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="input-form-email">Email address</label>
          <input id="input-form-email" class="form-control" type="email"
                 name="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label for="input-form-password">Password</label>
          <input id="input-form-password" class="form-control" type="password"
                 name="password" placeholder="Password" required>
        </div>
        <div class="d-flex flex-row">
          <a class="btn btn-info ml-auto" href="/signup">Signup</a>
          <button type="submit" class="btn btn-primary ml-2">Login</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
