{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
      <form action="/login" method="POST">
        <div class="form-group row">
          <h3 class="ml-4 ml-sm-0">Login Form</h3>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="input-form-email">
            Email address
          </label>
          <div class="col-sm-9">
            <input autocomplete="email" class="form-control" id="input-form-email"
                   name="email" placeholder="Enter email" required="true"
                   type="email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="input-form-password">
            Password
          </label>
          <div class="col-sm-9">
            <input autocomplete="current-password" class="form-control"
                   id="input-form-password" name="password"
                   placeholder="Enter password" required="true" type="password">
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="form-check">
            <input class="form-check-input" id="remember-me-check" type="checkbox">
            <label class="form-check-label" for="remember-me-check">
              Remember me
            </label>
          </div>
          <a class="btn btn-info ml-auto" href="/signup">Signup</a>
          <button type="submit" class="btn btn-primary ml-2">Login</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
