{% extends "base.html" %}

{% block content %}

  <p>Style Form</p>

  <div class="container">
    <div class="row">
      <form action="/style" method="POST">

        {#{% for style in styles %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
            <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
          </div>
        {% endfor %}#}

        <input type="submit" name="Stylize">
      </form>
    </div>
  </div>

{% endblock %}