{% extends "base.html" %}

{% block content %}

  <div class="container">

      <div class="row justify-content-between">
        <h4>Which style do you want to use?</h4>
        <form action="/style" method="POST">
          <input id="source_image_id" name="source_image_id" type="hidden" value="{{ source_image_id }}">
          <input id="style_id_input" name="style_id" type="hidden" value="">
          <input id="submit" class="btn btn-primary" type="submit" name="Stylize" disabled>
        </form>
      </div>

      <div class="row">

        {% for style in styles %}
          <div class="col-12 col-sm-11 col-md-6 col-lg-4 col-xl-3 mx-auto">
            <div class="card mx-2 my-4" id="{{ style.style_id }}">
              <img class="card-img-top" src="{{ style.image.get_path() }}">
              <section class="card-body px-3 py-2">
                <h5 class="card-title mb-1">{{ style.title }}</h5>
                <h6 class="card-text"><em>by {{ style.artist }}</em></h6>
              </section>
            </div>
          </div>
        {% endfor %}

      </div>
  </div>

  <script type="text/javascript">
    $(".card").on("click", function () {
      $(".card").removeClass("bg-primary text-light");
      $(this).addClass("bg-primary text-light");
      $("#style_id_input").val($(this).prop("id"));
      $("#submit").prop("disabled", null);
    });
  </script>

{% endblock %}